body {
     background-color: #006e2e41;
     box-sizing: border-box;
     margin: 8;
     padding: 0;
     height: 100%;
     position: relative;
}

div {
    width: 100px;
    height: 100px;
}
#div1 {
    background-color: red;
}
#div2 {
    background-color: blue;
    position: sticky;
    top: 70px;
    right: 0px;
}
#div3 {
    background-color: green;
    position: sticky;
    top: 170px;
    left: 0px;
}